<style>
select {width:80px; height:30px}
</style>

<head>
 <link href="/webapp/static/bootstrap-3.3.5-dist/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
 <script src="/webapp/static/bootstrap-3.3.5-dist/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
</head>

	<script type="text/javascript">
		$(document).ready(function() {
			$("#fullBtn").click(
				function() {
					var data = {type:"dev", date:$("#date").val()};
					$.ajax({
		                method:"post",
		            　　		data: JSON.stringify(data),
		              	url:"/maintain/fullCheck",
		              	contentType : "application/json",
		                success:function(data){
		                	$("#result").empty();
		                	$.each(data, function(id, d){
		                		console.log(d);
		                		$("#result").append('<li class="list-group-item">' + d +'</li>');
		                	});
		                },
		                error: function(e) {
		                	alert(JSON.stringify(e));
		                }
		            });
				}		
			);	
			
			$('.form_date').datetimepicker({
		        language:  'fr',
		        weekStart: 1,
		        todayBtn:  1,
				autoclose: 1,
				todayHighlight: 1,
				startView: 2,
				minView: 2,
				forceParse: 0
		    });
			
		});
	</script>

<div style="margin-left:20px; margin-top:20px">	
	<div class="page-header">
    	<h2>Generator 서버 상태 체크</h2>
	</div>
	<form class="form-horizontal" role="form" name="geForm" id="geForm" method="POST">
		<div class="form-group">
               <label for="dtp_input2" class="col-sm-1 control-label">날짜 선택</label>
               <div class="input-group date form_date col-md-4" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                   	<input class="form-control" size="16" type="text" value=""/>
                   	<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
               </div>
			<input type="hidden" id="dtp_input2" value="" /><br/>
           </div>
        <div class="form-group">
        		<label for="dtp_input2" class="col-sm-1 control-label">서버 선택</label>
        		<div class="col-sm-offset-1">
					<select name="type">
						<option value="dev">dev</option>
						<option value="stg">stg</option>
					</select>
				</div>
		</div>	
		<div class="form-group">
			<div class="col-sm-offset-1">
				<input type="button" class="btn btn-default" value="FULL 갱신된 시간  확인" id="fullBtn"></input>
			</div>
		</div>
        <div class="form-group">
        	<ul id="result"  class="list-group">
        			
        	</ul>
        </div>
	</form>
</div>