<!DOCTYPE html>

<style>
	#toolbar {
		position:absolute;
		float: left;
		left: 280px;
	}
</style>

<div class="row" style="margin-left:20px; margin-top:20px">
	<div class="col-md-12">
		<div class="page-header">
	    	<h3>패키지상품 또는 VOD +관련상품 콘텐츠를 포함하는 grid Menu</h3>
		</div>
		<div id="content" class="">
			<div id="toolbar">
				<div class='columns columns-right btn-group float-right'>
				    <button id='updateBtn' class='btn btn-default' style='width:100px;'>
				    	<i class='fas fa-retweet'></i> 갱신
				    </button>
				</div>
			</div>
			<table class="beans table is-fullwidth is-hoverable table-responsive" id="gridTable" 
	  			data-search="true"
	  			data-toolbar="#toolbar"
				data-show-fullscreen="true"
				data-click-to-select="true"
				data-minimum-count-columns="2"
				data-show-refresh="true"
				data-pagination="true"
				data-locale="en-US">
			</table>
		</div>
	</div>
</div>

<head>
<link href="/webapp/static/bootstrap-table-1.16.0/bootstrap-table.min.css" rel="stylesheet"></link>
<script src="/webapp/static/bootstrap-table-1.16.0/bootstrap-table.min.js"></script>
<script src="/webapp/static/bootstrap-table-1.16.0/extensions/auto-refresh/bootstrap-table-auto-refresh.min.js"></script>
</head>

<script th:inline="javascript">
	$(document).ready(function() {
		/*<![CDATA[*/
		
		var loading = new KZ_Loading({time: 15000});
		loading.show();
		
        $("#gridTable").bootstrapTable("destroy").bootstrapTable({ 
    		url: "/grid/search/vodpkg",
    		pageSize : 10,
    		columns: [
    			{
    				field: 'menuId',
    				title: '그리드 MenuId',
    	            align: 'center',
    	            valign: 'middle',
    				formatter: function operateFormatter(value, row, index) {
    					return [
    						'<span>' + value + '</span>',
    					].join('')
    				}
    			},
    			{	//1 게이트웨이 시놉시스 만 존재; 2 VOD + 관련상품 시놉시스 만 존재 3 게이트웨이 및 VOD 둘다 존대
    				field: 'type',
    				title: '유형',
    	            align: 'center',
    	            valign: 'middle',
    	            sortable: true,
    				formatter: function operateFormatter(value, row, index) {
    					var text = "";
    					if(value == 1)
    						text = "게이트웨이 시놉시스";
    					else if(value == 2) 
    						text= "VOD + 관련상품 시놉시스";
    					else 
    						text = "게이트웨이 시놉시스 <br> VOD + 관련상품 시놉시스"    						
    					return [
    						'<span>' + text + '</span>',
    					].join('')
    				}
    			},
    			{
    				title: '오프레이션',
    	            align: 'center',
    	            valign: 'middle',
    				formatter: function (value, rows, index) { // value는 menuId다..
    		        	var onclick = " onclick=gridBtn(" + value + ")";
    		            return "<button class='fetch btn btn-default' style='padding:0 30px; margin:3px'>" +  " 조회</button>"; 
    		        },
					events: {
						'click .fetch': function (e, value, row, index) {
							var url = "https://xpg-nxpg-stg.skb-doj-dev01.mybluemix.net/v5/grid/grid?menu_id=" + row.menuId;		
							window.open(url, "_blank");
						}					
    		        }
    			}
    		],
    		onLoadSuccess: function(){
    			//Bootstrap table의 toolbar에다가 갱신버튼을 추가 
    			loading.hide();
    		},
    		onLoadError: function() {
    			loading.hide();
    		}
    	}).bootstrapTable("hideLoading")
        
		$("#updateBtn").click(function() {
	        $("#gridTable").bootstrapTable('refresh', {
	            query: {isCache: false}
	        });
    	});        
		/*]]>*/
	});
	
</script>