<!DOCTYPE html>

<style>
	#content {padding: 10px}
	#ifTable {margin-top:10px;}
	ul {padding:0px; margin:0;}
	
	li .ifkey {
		display: inline-block; width:130px;
	}
	li .ifvalue {
		display: inline-block;
    	width: 240px;
    	margin-right: 5px;
    	height: 30px;
	}
	li button { 
		width:100px; 
		margin-right:5px; 
		margin-left:5px; 
		height:30px
	}
	.title{ 
		display:inline-block; 
		margin-bottom: 10px;
	}
</style>

<div class="row">
	<div class="col-md-12">
		<div id ="content">
			<select class="form-control text-center" name="type" id="server_select">	
				<option th:each="server : ${servers}" th:value="${server.url}" th:text="${server.type}"></option>
			</select>
			
			<table class="beans table is-fullwidth is-hoverable table-responsive" id="ifTable" 
				data-click-to-select="true"
				data-minimum-count-columns="2">
  			</table>		
		</div>
  	</div>
</div>

<head>
<script src="/webapp/static/nxpg-tool/ifjson.js"></script>
<link href="/webapp/static/bootstrap-table-1.16.0/bootstrap-table.min.css" rel="stylesheet"></link>
<script src="/webapp/static/bootstrap-table-1.16.0/bootstrap-table.min.js"></script>

</head>

<script th:inline="javascript">
	$(document).ready(function() {
		/*<![CDATA[*/
		var Data = IFJSON;
		var toSkip = ['IF','subtitle', 'uri']; //url를 build할 때 skip
		
		function buildUrl (e, row) {
			var apiRoot = $("#server_select").children('option:selected').val();
			var url = apiRoot + row.uri;
			
			var kvPair = {};
			var fields = $("#" + row.IF).find(".ifkey");
			var values = $("#" + row.IF).find(".ifvalue");
			
			var params = "";
			for (i = 0; i < fields.length; i++) {
				if ($(values[i]).val()) {
					params = params + "&" + $(fields[i]).text() + "=" + $(values[i]).val();
				}
			}
			return url + params;
		}
		
		$("#ifTable").bootstrapTable("destroy").bootstrapTable({ 
			data: IFJSON,
			cache:true,
			showHeader: false,
			columns: [
				{
					//title: 'NXPG API list',
		            align: 'left',
		            valign: 'left',
					formatter: function operateFormatter(value, json, index) {
						var IF = json.IF;
						var uri = json.uri;
						var subtitle = json.subtitle;
						
						var elArray = [];
						elArray.push('<li class="list-group-item" id="' + IF + '">');
						elArray.push('<span class="title h4 divcss5">' + IF + '<small>( ' + subtitle + ' )</small></span>');
						
						for(key in json) {
							if(key == "IF" || key == "uri" || key == "subtitle") {// 속성 IF, uri, subtitle는 표시 안함.
								continue;
							}
							if(key == "dummy") { //주의...
								elArray.push("");
								continue;
							}
							elArray.push("<div><b><span class='ifkey'>" + key);
							elArray.push("</span><input class='ifvalue' type='text' value='" + json[key] + "' /></b>");
							elArray.push('</div>');
						}
							
						elArray.pop();
						elArray.push('<button class="fetch btn btn-default  ">조회</button>');
						elArray.push('<button class="check btn btn-default">Field 확인</button>');
						elArray.push("</li>");
						return elArray.join('');
					},
					events: {
						'click .fetch': function (e, value, row, index) {
							var url = buildUrl(e, row);
							window.open(url, "_blank");
						 },
						 'click .check': function (e, value, row, index) {

							var ifname = row.IF;
							var ifUrl = buildUrl(e, row);
							$.ajax({
								type : "post",//필수 
								url : "/nxpgtool/if/checkfield",
								async : false,
								data : {
									url : ifUrl,
									ifname : ifname
								},
								success : function(data) {
									alert(JSON.stringify(data));
								},
								error : function(e) {
									alert("실패했음" + JSON.stringify(e));
								}
							});
						 },
					}
				}
			]
		});
		/*]]>*/
	});
</script>
