<style>
.left {
  float: left; text-align: left
}
.right {
  float: right; text-align: left
}
#server_select {
  width: 100px;
}

.singleton_tag {
	font-size: 10px;
	/* background-color:#bce8f1; */
	display: inline-block
}
.refresh_tag {
	font-size: 10px;
	background-color:#d8c5b4;
	display: inline-block
}

table {
	word-break:break-all; word-wrap:break-all;
}

.map-key {width:80px}

#beansTable table {
	background-color: #fbf8f8;
} 

.is-muted {color: #b5b5b5}

small {font-size: .875em;}


<!--Export의 dropdown-menu위치 문제 수정 -->
.export {
	position: relative;
}
.export .dropdown-menu {
	position:absolute;
	left:0;
}
.export a {
	display: block;
}

</style>

<link href="/webapp/static/bootstrap-table-1.16.0/bootstrap-table.min.css" rel="stylesheet"></link>
<script src="/webapp/static/bootstrap-table-1.16.0/bootstrap-table.min.js"></script>
<script src="/webapp/static/bootstrap-table-1.16.0/extensions/auto-refresh/bootstrap-table-auto-refresh.min.js"></script>


<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table-locale-all.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/auto-refresh/bootstrap-table-auto-refresh.min.js"></script>
<link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet"></link>

<script th:inline="javascript">
    $(function(){
    	/*<![CDATA[*/
		//https://www.cnblogs.com/51kata/p/5201977.html
		    		
    	/*]]>*/
    });
	
</script>
<div class="container">
<div style="margin-top:20px" class="row">
	
</div>
</div>