<style>
.left {
  float: left; text-align: left
}
.right {
  float: right; text-align: left
}
#server_select {
  width: 100px;
}

.singleton_tag {
	font-size: 10px;
	/* background-color:#bce8f1; */
	display: inline-block
}
.refresh_tag {
	font-size: 10px;
	background-color:#d8c5b4;
	display: inline-block
}

table {
	word-break:break-all; word-wrap:break-all;
}

.map-key {width:80px}

#beansTable table {
	background-color: #fbf8f8;
} 

.is-muted {color: #b5b5b5}

small {font-size: .875em;}


<!--Export의 dropdown-menu위치 문제 수정 -->
.export {
	position: relative;
}
.export .dropdown-menu {
	position:absolute;
	left:0;
}
.export a {
	display: block;
}

</style>

<link href="/webapp/static/bootstrap-table-1.16.0/bootstrap-table.min.css" rel="stylesheet"></link>
<script src="/webapp/static/bootstrap-table-1.16.0/extensions/export/bootstrap-table-export.min.js"></script>
<script src="/webapp/static/bootstrap-table-1.16.0/bootstrap-table.min.js"></script>
<script src="/webapp/static/bootstrap-table-1.16.0/extensions/auto-refresh/bootstrap-table-auto-refresh.min.js"></script>

<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table-locale-all.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/export/bootstrap-table-export.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/auto-refresh/bootstrap-table-auto-refresh.min.js"></script>
<link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet"></link>

<script th:inline="javascript">
    $(function(){
    	/*<![CDATA[*/
		//https://www.cnblogs.com/51kata/p/5201977.html
		document.all.type.options[0].selected=true;
		$('#server_select').change(function(){  
			loading.show();
			var selectedTab = localStorage.getItem('selectedTab');
			if (selectedTab) {
				$('a[data-toggle="tab"][href="' +selectedTab + '"]').tab('show');
				loadTab(selectedTab);
			}
		})
		
		var loading = new KZ_Loading({time: 15000});
		loading.show();
    	
		var callbacks = {
    			"env": function(jsonData) {
    				loading.hide();
    				$.each(jsonData, function(index, value) {
    					var $table = createTable(index, value, 1);
    					$('#env').append($table);
    				});
    			},
    			"beans": function(jsonData) {
		    		//https://blog.csdn.net/javahighness/article/details/73929108
    				$("#beansTable").bootstrapTable("destroy").bootstrapTable({ 
    					url: "/monitor/beans?server=" + $("#server_select").children('option:selected').val(),
						//cache:true,
						detailFormatter: function (index,row, $element){
							return createTable(null, row, 1);
						},		  
						columns: [
							{
								field: '',
								title: 'Beans Info',
					            align: 'left',
					            valign: 'middle',
					            detailFormatter: function (index,row, $element){
									return createTable(index, value, 1);
								},
								formatter: function operateFormatter(value, row, index) {
									return [
										'<span title="adminclientApplication">' + row.bean + '</span>',
										'<br>',
										'<small title=' + row.type + ' class="is-muted">' + row.type + '</small>'
									].join('')
								}
							}, 
							{
								field: 'scope',
								title: 'Scope',
								align: 'center',
								valign: 'middle',
								formatter: function operateFormatter(value, row, index) {
									if(value == "refresh") {
										return '<span class="refresh_tag">' + value + '</span>';
									} else if(value == "singleton") {
										return '<span class="singleton_tag">' + value + '</span>';
									}
								}
							}
						],
						onLoadSuccess: function(){
							loading.hide();
						},
						onLoadError: function(){
							loading.hide();
						}
					});
    			},
    			"thread": function(jsonData) {
    				$("#threadTable").bootstrapTable("destroy").bootstrapTable({ 
						url: "/monitor/thread?server=" + $("#server_select").children('option:selected').val(),
						cache:true,
						pageSize : 12,
						detailFormatter: function (index,row, $element){
							return createTable(null, row, 1);
						},
						columns: [
							{
								field: 'threadName',
								title: 'threadName',
					            align: 'left',
					            valign: 'middle',
					            sortable: true,
								formatter: function operateFormatter(value, row, index) {
									return [
										'<span>' + value + '</span>',
									].join('')
								}
							},
							{
								field: 'threadState',
								title: 'threadState',
					            align: 'left',
					            valign: 'middle',
					            sortable: true,
								formatter: function operateFormatter(value, row, index) {
									return [
										'<span>' + value + '</span>',
									].join('')
								}
							},
							{
								field: 'suspended',
								title: 'suspended',
					            align: 'left',
					            valign: 'middle',
					            sortable: true,
								formatter: function operateFormatter(value, row, index) {
									return [
										'<span>' + value + '</span>',
									].join('')
								}
							}
						],
						onLoadSuccess: function(){
							loading.hide();
						},
						onLoadError: function(){
							loading.hide();
						}
					});
    			},
    			"mappings": function(jsonData) {
    				$("#mappingsTable").bootstrapTable("destroy").bootstrapTable({ 
						url: "/monitor/mappings?server=" + $("#server_select").children('option:selected').val(),
						cache:true,
						columns: [
							{
								field: 'uri',
								title: 'dispatcherServlet',
					            align: 'left',
					            valign: 'middle',
								formatter: function operateFormatter(value, row, index) {
									return [
										'<span>' + value + '</span>',
									].join('')
								}
							},
							{
								title: '속성',
					            align: 'left',
					            valign: 'middle',
					            //더 좋은 방법이 있는지..
								formatter: function operateFormatter(value, json, index) {
									var elArray = [];
									elArray.push('<table class="table table-hover table-condensed"><tbody>');
									for(var i in json) {
										elArray.push('<tr><th class="row">');
										elArray.push('<div class="map-key left">' + i +'</div>');										
										elArray.push('</th>');
										elArray.push('<td class="row">');
										elArray.push('<div class="map-value right">' + json[i] +'</div>');										
										elArray.push('</td>');
										elArray.push('</tr>');
									}
									
									elArray.push('</tbody></table>');
									return elArray.join('');
								}
							}
						],
						onLoadSuccess: function(){
							loading.hide();
						},
						onLoadError: function(){
							loading.hide();
						}
					});
    			},
				"detail": function(jsonData) {
					loading.hide();
    				var health = jsonData.health;
    				if(health) {
    					var diskSpace_status = health.diskSpace.status;
    					var diskSpace_total = health.diskSpace.total;
    					
    					var redis_status = health.redis.status;
    					var primaryJedisConnection_status = health.redis.primaryJedisConnection.status;
    					var primaryJedisConnection_slots_fail = health.redis.primaryJedisConnection.slots_fail;
    					var primaryJedisConnection_cluster_size = health.redis.primaryJedisConnection.cluster_size;
    					var primaryJedisConnection_slots_up = health.redis.primaryJedisConnection.slots_up;
    					
    					
    					var secondJedisConnection_status = health.redis.secondJedisConnection.status;
    					var secondJedisConnection_slots_fail = health.redis.secondJedisConnection.slots_fail;
    					var secondJedisConnection_cluster_size = health.redis.secondJedisConnection.cluster_size;
    					var secondJedisConnection_slots_up = health.redis.secondJedisConnection.slots_up;
    					
    					$("#diskSpace_status").html(diskSpace_status);
    					$("#diskSpace_total").html(diskSpace_total);
    					
    					$("#primaryJedisConnection_status").html(primaryJedisConnection_status);
    					$("#primaryJedisConnection_slots_fail").html(primaryJedisConnection_slots_fail);
    					$("#primaryJedisConnection_csize").html(primaryJedisConnection_cluster_size);
    					$("#primaryJedisConnection_slotsup").html(primaryJedisConnection_slots_up);
    					
    					
    					$("#secondJedisConnection_status").html(secondJedisConnection_status);
    					$("#secondJedisConnection_slots_fail").html(secondJedisConnection_slots_fail);
    					$("#secondJedisConnection_csize").html(secondJedisConnection_cluster_size);
    					$("#secondJedisConnection_slotsup").html(secondJedisConnection_slots_up);
    					
    				}
    				var metrics = jsonData.metrics;
    				var mem = metrics.mem;
    				var mem_free = metrics['mem.free'];
    				var heap_init = metrics['heap.init'];
    				var heap = metrics['heap'];
    				var heap_used = metrics['heap.used'];
    				var heap_committed = metrics['heap.committed'];
    				
    				var threads = metrics['threads'];
    				var threads_peak = metrics['threads.peak'];
    				var threads_daemon = metrics['threads.daemon'];
    				var threads_totalStarted = metrics['threads.totalStarted'];
    				
    				$("#mem").html(mem);
    				$("#mem_free").html(mem_free);
    				$("#heap_init").html(heap_init);
    				$("#heap").html(heap);
    				$("#heap_used").html(heap_used);
    				$("#heap_committed").html(heap_committed);
    				$("#threads").html(threads);
    				$("#threads_peak").html(threads_peak);
    				$("#threads_daemon").html(threads_daemon);
    				$("#threads_totalStarted").html(threads_totalStarted);
    			}
    	}
    	function request(activeTab) {
    		$.ajax({
    			type : "get",
    			url : "/monitor/" + activeTab + '?server=' + $("#server_select").children('option:selected').val(),
    			async : false,
    			dataType : "json",
    			data : {server : "STG"},
    			success : function(data) {
    				callbacks[activeTab](data);		
    			},
    			error : function(e) {
    				loading.hide();
    				alert("데이터 없거나, 요청 실패");
    			}
    		});
    	}
    
    	function createTable(title, json, depth) {
			var $table = $('<table class="table table-bordered table-hover table-condensed"></table>');
			if(title) {
				var $caption = $(
					'<thead><tr><th style="background-color:#bce8f1; text-align:left" data-field="github.name"><div class="th-inner ">'+  title +'</div><div class="fht-cell"></div></th></tr></thead>'		
				);
			}
			var $tbody = $('<tbody></tbody>');
			$table.append($caption);
			for(var i in json) {
				var $tr = $('<tr></tr>');
				var $td = $('<td class="row"></td>');
				
				var $leftDiv = $('<div class="left col-md-3">' + i +'</div>');
				$td.append($leftDiv);
				
				
				if(typeof json[i] == 'object') {
					if(depth >2) {
						continue;
					}
					var $rightDiv = $('<div class="right col-md-9"></div>');
					$rightDiv.html(createTable(null, json[i], ++depth));
					$td.append($rightDiv);
				} else {
					var $rightDiv = $('<div class="right col-md-9">' + json[i] + '</div>');
					$td.append($rightDiv);
				}
				$tr.append($td);
				$tbody.append($tr);
			}
			$table.append($tbody);
			return $table;
		}
		//https://live.bootstrap-table.com/example/welcome.html
    	$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    		e.preventDefault();
    		loading.show();
            var activeTab = $(e.target).attr("aria-controls");
            localStorage.setItem('selectedTab', activeTab);
            loadTab(activeTab);
        });
		
		function loadTab(activeTab) {
			if(activeTab != "detail" && activeTab != "env") {
				callbacks[activeTab](null);
			} else {
	        	setTimeout(function() {
	        		request(activeTab);
	        	}, 200);				
			}
		}
		//Timeout로 안하면, 로딩화면 표시가 안돼네..나중에 확인해야함.		
    	setTimeout(function() {
    		request("detail");
    	}, 200);
    	/*]]>*/
    });
	
</script>
<div class="container">

<div style="margin-top:20px" class="row">
	<div class="col-md-11">
   		<h2 class="form-inline">시스템 모니터링
   			<select class="form-control text-center" name="type" id="server_select">
				<option value="STG">stg</option>
				<option value="DEV">dev</option>
				<option value="SUY">suy</option>
				<option value="SSU">ssu</option>
			</select>
   		</h2>		
	</div>
	<div class="col-md-12">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist" id="contentnavid">
			<li role="presentation" class="active"><a href="#detail" aria-controls="detail" role="tab" data-toggle="tab">Detail</a></li>
		  	<li role="presentation"><a href="#env" aria-controls="env" role="tab" data-toggle="tab">Env</a></li>
		  	<li role="presentation"><a href="#thread" aria-controls="thread" role="tab" data-toggle="tab">Thread</a></li>
		  	<li role="presentation"><a href="#mappings" aria-controls="mappings" role="tab" data-toggle="tab">mappings</a></li>
		  	<li role="presentation"><a href="#beans" aria-controls="beans" role="tab" data-toggle="tab">Beans</a></li>
		</ul>
		<!-- Tab panes -->
		<div class="tab-content" style="margin-top:10px" id="monitor-tab">
			<div role="tabpanel" class="tab-pane active" id="detail">
					<div class="row">
						<div class="col-md-5">
							<div class="panel panel-info">
				    			<div class="panel-heading">
				    				<h3 class="panel-title">Info</h3>
				    			</div>
				    			<div class="panel-body">
									<table class="table">
										<thead>
									    	<tr>
									    		<th  style="color:green; font-weight:bold">Memory</th>
									      		<th></th>
									    	</tr>
									  	</thead>
									  <tbody>
										    <tr>
										      <td>mem</td>
										      <td id="mem"></td>
										    </tr>
										    <tr>
										      <td>mem.free</td>
										      <td id="mem_free"></td>
										    </tr>
									  </tbody>
									</table>
									
									<table class="table">
										<thead>
									    	<tr>
									    		<th  style="color:green; font-weight:bold">Heap</th>
									      		<th></th>
									    	</tr>
									  	</thead>
									  	<tbody>
										    <tr>
										      <td>heap.init</td>
										      <td id="heap_init"></td>
										    </tr>
										    <tr>
										      <td>heap</td>
										      <td id="heap"></td>
										    </tr>
										    <tr>
										      <td>heap.used</td>
										      <td id="heap_used"></td>
										    </tr>
										     <tr>
										      <td>heap.committed</td>
										      <td id="heap_committed"></td>
										    </tr>
									  	</tbody>
									</table>
									
									<table class="table">
										<thead>
									    	<tr>
									    		<th  style="color:green; font-weight:bold">Thread</th>
									      		<th></th>
									    	</tr>
									  	</thead>
									 	<tbody>
											<tr>
										    	<td>threads</td>
										    	<td id="threads"></td>
										    </tr>
										    <tr>
										    	<td>threads.peak</td>
										    	<td id="threads_peak"></td>
										    </tr>
										    <tr>
										    	<td>threads.daemon</td>
										    	<td id="threads_daemon"></td>
										    </tr>
										   	<tr>
										    	<td>threads.totalStarted</td>
										    	<td id="threads_totalStarted"></td>
										   	</tr>
									  </tbody>
									</table>
				    			</div>
							</div>
						</div>
						<div class="col-md-5">
							<div class="panel panel-info">
				    			<div class="panel-heading">
				    				<h3 class="panel-title">Health</h3>
				    			</div>
				    			<div class="panel-body">
									<table class="table" id="info_table">
										<thead>
									    	<tr><th  style="color:green; font-weight:bold">diskSpace</th>
									      	<th></th>
									    </tr>
									  </thead>
									  <tbody>
										    <tr>
										      <td>status</td>
										      <td id="diskSpace_status"></td>
										    </tr>
										    <tr>
										      <td>total</td>
										      <td id="diskSpace_total"></td>
										    </tr>
									  </tbody>
									</table>
									<table class="table">
									<thead>
										<tr>
									    	<th style="color:green; font-weight:bold">redis</th>
									      	<th></th>
									    </tr>
									 </thead>
									 <tbody>
									 	<tr>
									    	<td>status</td>
									      	<td id="redis_status"> </td>
									    </tr>
									    <tr>
									     	<td>primaryJedisConnection</td>
                        					<td>
					                            <table class="table table-bordered" id="info_table">
						                        	<tbody>
						                                <tr>
						                                  <td>status</td>
						                                  <td id="primaryJedisConnection_status"></td>
						                                </tr>
						                                <tr>
						                                  <td>cluster_size</td>
						                                  <td id="primaryJedisConnection_csize"></td>
						                                </tr>
						                                <tr>
						                                  <td>slots_up</td>
						                                  <td id="primaryJedisConnection_slotsup"></td>
						                                </tr>
						                                 <tr>
						                                  	<td>slots_fail</td>
						                                  	<td id="primaryJedisConnection_slots_fail"></td>
						                                </tr>
						                            </tbody>
					                            </table>
                        					</td>
									    </tr>
                      	    			<tr>
									      	<td>secondJedisConnection</td>
                        					<td>
					                            <table class="table table-bordered">
					                              <tbody>
						                                <tr>
						                                  <td>status</td>
						                                  <td id="secondJedisConnection_status"></td>
						                                </tr>
						                                <tr>
						                                  <td>cluster_size</td>
						                                  <td id="secondJedisConnection_csize"></td>
						                                </tr>
						                                <tr>
						                                  <td>slots_up</td>
						                                  <td id="secondJedisConnection_slotsup"></td>
						                                </tr>
						                                <tr>
						                                  <td>total</td>
						                                  <td id="secondJedisConnection_slots_fail"></td>
						                                </tr>
					                            	</tbody>
					                            </table>
				                        	</td>
									    </tr>
									  </tbody>
									</table>
				    			</div>
							</div>
						</div>
					</div>
			</div>
		  	<div role="tabpanel" class="tab-pane " id="env"></div>
		  	<div role="tabpanel" class="tab-pane " id="thread">
				<table class="beans table is-fullwidth is-hoverable table-responsive" id="threadTable" 
					data-search="true"
					data-show-refresh="true"
					data-show-fullscreen="true"
					data-show-columns="true"
					data-detail-view="true"
					data-show-export="true"
					data-minimum-count-columns="2"
					data-pagination="true"
				>
		  		</table>		  	
		  	</div>
		  	<div role="tabpanel" class="tab-pane " id="mappings">
		  		<table class="beans table is-fullwidth" id="mappingsTable" 
		  			data-search="true"
					data-show-refresh="true"
					data-show-fullscreen="true"
					data-click-to-select="true"
					data-minimum-count-columns="2"
				>
		  		</table>
		  	</div>
		  	<div role="tabpanel" class="tab-pane " id="beans">
				<table class="beans table is-fullwidth is-hoverable table-responsive" id="beansTable" 
		  			data-search="true"
					data-show-fullscreen="true"
					data-detail-view="true"
					data-click-to-select="true"
					data-minimum-count-columns="2"
					data-show-refresh="true"
				>
		  		</table>
		  	</div>
		</div>      
	</div>	
</div>
</div>