<!DOCTYPE html>
<head><meta charset="utf-8" /></head>
<style>
#list h3 {
	color: #229922;
	padding: 0;
	margin: 0;
}

#list 	input {
	width: 240px;
}

#list	span {
	font-family: Consolas;
}

#list	ul {
	font-size: 0.9em;
	border-left: 3px solid #4caf59;
	background-color: #f2f2f2;
	padding: 0 3px 0 30px;
}

#list	li {
	display: block;
	width: 800px;
	/*border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;*/
	border-bottom: 1px solid #ddd;
	padding: 3px;
}

#list	li.top {
	border-top: 1px solid #ddd;
}

#list	li b {
	display: inline-block;
	min-width: 160px;
	border-right: 1px solid #ddd;
	padding-right: 3px;
}

#list	li span {
	display: inline-block;
	padding-right: 3px;
}

#list	li a {
	border-right: 1px solid #ddd;
	display: inline-block;
	padding-left: 3px;
	width: 314px;
}

#list	li a.head {
	font-weight: bold;
}

#list	li button {
	
}

#list	.red {
	color: red;
}

#list	.container {
	position: absolute;
	z-index: 3;
	border-top: 2px solid #666;
	background-color: #FFF;
}

#list	#link {
	position: fixed;
	top: 40px;
	left: 400px;
}

#list	#link a {
	border: 1px solid #aaa;
	border-radius: 4px;
	text-decoration: none;
	padding: 2px;
	color: #229922;
}

#list	#link a:hover {
	background-color: #AAA;
	text-decoration: none;
	color: #FFF;
}

#indexPage h3 {
	font-size: 18px;
}
</style>


<style>
pre {
	outline: 1px solid #ccc;
	padding: 5px;
	margin: 5px;
}

.string {
	color: green;
}

.number {
	color: darkorange;
}

.boolean {
	color: blue;
}

.null {
	color: magenta;
}

.key {
	color: red;
}
</style>

<div class="row">
	<div class="col-md-12">
		<div id="list">
			<ul id="indexPage">
				<li>
					<h3>
						<i>INFNXPG001</i> (menu_gnb)
					</h3> <br /> <input type="hidden" value="menu_gnb" /> <b><span>menu_stb_svc_id</span></b><input
					type="text" name="menu_stb_svc_id" value="BTVWEBV512" />
					<button>조회</button>
				</li>
				<li>
					<h3>
						<i>INFNXPG002</i> (menu_all)
					</h3> <br /> <input type="hidden" value="menu_all" /> <b><span>menu_stb_svc_id</span></b>
					<input type="text" value="BTVWEBV512" />
					<button>조회</button>
				</li>
				<li>
					<h3>
						<i>INFNXPG003</i> (big_banner)
					</h3> <br /> <input type="hidden" value="big_banner" /> <b><span>menu_stb_svc_id</span></b>
					<input type="text" value="BTVWEBV512" /><br /> <b><span>menu_id</span></b>
					<input type="text" value="NM1000000400" />
					<button>조회</button>
				</li>
				<li>
					<h3>
						<i>INFNXPG004</i> (block_block)
					</h3> <br /> <input type="hidden" value="block_block" /> <b><span>menu_stb_svc_id</span></b>
					<input type="text" value="BTVWEBV512" /><br /> <b><span>menu_id</span></b>
					<input type="text" value="NM1000000400" />
					<button>조회</button>
				</li>
				<li>
					<h3>
						<i>INFNXPG005</i> (grid_banner)
					</h3> <br /> <input type="hidden" value="grid_banner" /> <b> <span>menu_stb_svc_id</span>
				</b> <input type="text" value="BTVWEBV513" /><br /> <b><span>menu_id</span></b>
					<input type="text" value="NM1000023792" />
					<button>조회</button>
				</li>
				<li>
					<h3>
						<i>INFNXPG006</i> (grid_contents)
					</h3> <br /> <input type="hidden" value="grid_contents" /> <b><span>menu_id</span></b>
					<input type="text" value="NM1000019814" />
					<button>조회</button>
				</li>
				<li>
					<h3>
						<i>INFNXPG007</i> (synopsis_contents)
					</h3> <br /> <input type="hidden" value="synopsis_contents" /> <b><span>sris_id</span></b>
					<input type="text" value="CS11000408" />
					<button>조회</button>
				</li>
				<li>
					<h3>
						<i>INFNXPG008</i> (synopsis_srisInfo)
					</h3> <br /> <input type="hidden" value="synopsis_srisInfo" /> <b><span>epsd_id</span></b>
					<input type="text" value="CE1000006506" />
					<button>조회</button>
				</li>
				<li>
					<h3>
						<i>INFNXPG009</i> (synopsis_gateway)
					</h3> <br /> <input type="hidden" value="synopsis_gateway" /> <b><span>sris_id</span></b>
					<input type="text" value="CS02152774" />
					<button>조회</button>
				</li>
				<li>
					<h3>
						<i>INFNXPG010</i> (synopsis_commerce)
					</h3> <br /> <input type="hidden" value="synopsis_commerce" /> <b><span>sris_id</span></b>
					<input type="text" value="CS11005062" />
					<button>조회</button>
				</li>
				<li>
					<h3>
						<i>INFNXPG011</i> (contents_people)
					</h3> <br /> <input type="hidden" value="contents_people" /> <b><span>epsd_id</span></b>
					<input type="text" value="CE1000006506" />
					<button>조회</button>
				</li>
				<li>
					<h3>
						<i>INFNXPG012</i> (contents_preview)
					</h3> <br /> <input type="hidden" value="contents_preview" /> <b><span>sris_id</span></b>
					<input type="text" value="CS02070710" />
					<button>조회</button>
				</li>
				<li>
					<h3>
						<i>INFNXPG013</i> (contents_corner)
					</h3> <br /> <input type="hidden" value="contents_corner" /> <b><span>epsd_id</span></b>
					<input type="text" value="CE0000868975" />
					<button>조회</button>
				</li>
				<li>
					<h3>
						<i>INFNXPG014</i> (contents_review)
					</h3> <br /> <input type="hidden" value="contents_review" /> <b><span>sris_id</span></b>
					<input type="text" value="CS02070710" />
					<button>조회</button>
				</li>
				<li>
					<h3>
						<i>INFNXPG015</i> (contents_purchares)
					</h3> <br /> <input type="hidden" value="contents_purchares" /> <b><span>sris_id</span></b>
					<input type="text" value="CS02067879" />
					<button>조회</button>
				</li>
				<li>
					<h3>
						<i>INFNXPG016</i> (contents_cidinfo)
					</h3> <br /> <input type="hidden" value="contents_cidinfo" /> <b><span>epsd_rslu_id</span></b>
					<input type="text" value="{56D49A6D-5EAB-46D9-A692-3BA7CB0F1848}" />
					<button>조회</button>
				</li>
				<li>
					<h3>
						<i>INFNXPG017</i> (people_info)
					</h3> <br /> <input type="hidden" value="people_info" /> <b><span>prs_id</span></b>
					<input type="text" value="MP0000158888" />
					<button>조회</button>
				</li>
				<li>
					<h3>
						<i>INFNXPG018</i> (corner_gather)
					</h3> <br /> <input type="hidden" value="corner_gather" /> <b><span>cnr_grp_id</span></b>
					<input type="text" value="CN1000007439" />
					<button>조회</button>
				</li>
				<li>
					<h3>
						<i>INFNXPG019</i> (menu_kidsGnb)
					</h3> <br /> <input type="hidden" value="menu_kidsGnb" /> <b><span>menu_stb_svc_id</span></b>
					<input type="text" value="BTVWEBV512" />
					<button>조회</button>
				</li>

				<li>
					<h3>
						<i>INFNXPG020</i> (menu_kidsCharacter)
					</h3> <br /> <input type="hidden" value="menu_kidsCharacter" /> <b><span>menu_stb_svc_id</span></b>
					<input type="text" value="BTVWEBV512" />
					<button>조회</button>
				</li>
				<li>
					<h3>
						<i>INFNXPG021</i> (synopsis_liveChildStory)
					</h3> <br /> <input type="hidden" value="synopsis_liveChildStory" /> <b><span>epsd_id</span></b>
					<input type="text" value="CE1000027948" />
					<button>조회</button>
				</li>
				<li>
					<h3>
						<i>INFNXPG022</i> (epg_info)
					</h3> <br /> <input type="hidden" value="epg_info" /> <b><span>epg</span></b>
					<input type="text" value="epg" />
					<button>조회</button>
				</li>
				<li>
					<h3>
						<i>INFNXPG023</i> (contents_phrase)
					</h3> <br /> <input type="hidden" value="contents_phrase" /> <b><span>stb_exps_phrs_id</span></b>
					<input type="text" value="AP1000000004" />
					<button>조회</button>
				</li>
				<li>
					<h3>
						<i>INFNXPG024</i> (block_month)
					</h3> <br /> <input type="hidden" value="block_month" /> <b><span>menu_stb_svc_id</span></b>
					<input type="text" value="BTVWEBV512" />
					<button>조회</button>
				</li>
				<li>
					<h3>
						<i>INFNXPG025</i> (synopsis_sris)
					</h3> <br /> <input type="hidden" value="synopsis_sris" /> <b><span>sris_id</span></b>
					<input type="text" value="CS02065597" />
					<button>조회</button>
				</li>
				<li>
					<h3>
						<i>INFNXPG026</i> (genre_info)
					</h3> <br /> <input type="hidden" value="genre_info" /> <b><span>genre</span></b>
					<input type="text" value="genre" />
					<button>조회</button>
				</li>
				<li>
					<h3>
						<i>INFNXPG029</i> (ending_cwcallidval)
					</h3> <br /> <input type="hidden" value="ending_cwcallidval" /> <b><span>ending_cwcallidval</span></b>
					<input type="text" value="ending_cwcallidval" />
					<button>조회</button>
				</li>
				<li>
					<h3>
						<i>INFNXPG030</i> (inside_info)
					</h3> <br /> <input type="hidden" value="inside_info" /> <b><span>epsd_id</span></b>
					<input type="text" value="CE1000031801" />
					<button>조회</button>
				</li>
				<li>
					<h3>
						<i>INFNXPG031</i> (synopsis_contentsfiledetails)
					</h3> <br /> <input type="hidden" value="synopsis_contentsfiledetails" />
					<b><span>epsd_id</span></b> <input type="text" value="CE1000031801" />
					<button>조회</button>
				</li>
				<li>
					<h3>
						<i>INFNXPG032</i> (synopsis_ppmCommerce)
					</h3> <br /> <input type="hidden" value="synopsis_ppmCommerce" /> <b><span>prd_prc_id</span></b>
					<input type="text" value="410731392" />
					<button>조회</button>
				</li>
				<li>
					<h3>
						<i>INFNXPG033</i> (menu_lightHomeGnb)
					</h3> <br /> <input type="hidden" value="menu_lightHomeGnb" /> <b><span>menu_stb_svc_id</span></b><input
					type="text" name="menu_stb_svc_id" value="BTVWEBV512" />
					<button>조회</button>
				</li>
			</ul>
		</div>
	</div>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">新增</h4>
				</div>

				<div class="panel-body modal-body"
					style="height: 800px; overflow: scroll">
					<div style="border: 1px #000000; width: 90%; margin: 0 auto;"
						contenteditable="true">
						<pre id="redis_data_div"></pre>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						<span aria-hidden="true">닫기</span>
					</button>
					<button type="button" id="btn_submit" class="btn btn-primary"
						data-dismiss="modal">
						<span aria-hidden="true"></span>저장
					</button>
				</div>


			</div>
		</div>
	</div>

</div>

<script>
	String.prototype.trim = function (char, type) {
	    if (char) {
	        if (type == 'left') {
	            return this.replace(new RegExp('^\\'+char+'+', 'g'), '');
	        } else if (type == 'right') {
	            return this.replace(new RegExp('\\'+char+'+$', 'g'), '');
	        }
	        return this.replace(new RegExp('^\\'+char+'+|\\'+char+'+$', 'g'), '');
	    }
	    return this.replace(/^\s+|\s+$/g, '');
	};
	
	//전역 변구....
	var uri = "";
	
	$("#indexPage li button").click(function() {
		/*<![CDATA[*/
		var urlname = $(this).attr("id");
		var span = $(this).parent().find("span");
		
		var field = $(this).parent().find("input[type=hidden]").val();

		var pathvariable = $(span[1]).text();
		var vals = $(this).parent().find("input");
		
		var url = "";

		url = url + $(vals[0]).val();

		if (vals.length == 2) {
			url = url + "/" + $(vals[1]).val();
		} else {
			url = url + "/" + $(vals[1]).val() + "_" + $(vals[2]).val();
		}
		//var root = "http://localhost:8082/task/hget/grid_banner/BTVWEBV513_NM1000023792";
		var url = "https://xpg-nxpg-stg.skb-doj-dev01.mybluemix.net/task/hget/" + build_url(this, field);
		//var url = "http://localhost:8082/task/hget/" + build_url(this, field);
		alert(url);
		//return;
		$.ajax({
			type : "get",//필수 
			url : "/redis/info",
			async : false,
			//enctype : "multipart/form-data",//필수 
			//contentType : false,//필수 
			//processData : false,//필수 
			dataType : "json",//필수 
			data : {
				url : url
			},
			success : function(data) {
				var text = JSON.stringify(data);
				var result = JSON.stringify(JSON.parse(text), null, 2);//将字符串转换成json对象
				console.log("RRRRR: " + result);
				$("#myModalLabel").text("Editor");
				$("#redis_data_div").html(result);
				$('#myModal').modal();
			},
			error : function(e) {
				alert("데이터 없거나, 요청 실패");
			}
		});

		/*]]>*/
	})
	
	function build_url(btn) {
		var field = $(btn).parent().find("input[type=hidden]").val();
		var spans = $(btn).parent().find("span");
		var key = '';
		$(spans).each(function(i,n) {
			var fieldName = $(n).html();
			var val = $($(n).parent().parent().find("input[type!='hidden']").get(i)).val();// 수정할 것 
			key += val + "_";
		});
		var url = field + "/" + key.trim('_', 'right');
		uri = url;
		return url;
	}

	$("#btn_submit").click(function() {
		var jsonstr = $("#redis_data_div").html();
		//var url = "https://xpg-nxpg-stg.skb-doj-dev01.mybluemix.net/ge/task/hset/" +uri;
		//var url = "http://localhost:8082/task/hget/" + uri;
		var url = "https://xpg-nxpg-stg.skb-doj-dev01.mybluemix.net/ge/task/hset/" +uri;
		//https://xpg-nxpg-stg.skb-doj-dev01.mybluemix.net/ge/task/hset/big_banner/BTVWEBV512_SKMNM10000004001
		//var url = "https://xpg-nxpg-stg.skb-doj-dev01.mybluemix.net/task/hget/" + build_url(this, field);
		$.ajax({
            url : "/redis/save",
            type : "POST",
            async : true,
            contentType : "application/json",
            data : JSON.stringify({"data": jsonstr, "url": url}),
            success : function(data) {
                if (data == "ok") {
                	alert("OK");
                } else {
                    alert("fail");
                }
            }
        });
	});
	
</script>