<!DOCTYPE html>
<head><meta charset="utf-8" /></head>

<style>
	#content {padding: 10px}
	#ifTable {margin-top:10px;}
	ul {padding:0px; margin:0;}
	
	li .ifkey {
		display: inline-block; width:130px;
	}
	li .ifvalue {
		display: inline-block;
    	width: 240px;
    	margin-right: 5px;
    	height: 30px;
	}
	li button { 
		width:100px; 
		margin-right:5px; 
		margin-left:5px; 
		height:30px
	}
	.title{ 
		display:inline-block; 
		margin-bottom: 10px;
	}
</style>

<style>
pre {
	outline: 1px solid #ccc;
	padding: 5px;
	margin: 5px;
}

.string {
	color: green;
}

.number {
	color: darkorange;
}

.boolean {
	color: blue;
}

.null {
	color: magenta;
}

.key {
	color: red;
}
</style>

<head>

<script src="/webapp/static/nxpg-tool/ifjson.js"></script>
<link href="/webapp/static/bootstrap-table-1.16.0/bootstrap-table.min.css" rel="stylesheet"></link>
<script src="/webapp/static/bootstrap-table-1.16.0/bootstrap-table.min.js"></script>

</head>

<div class="row">
	<div class="col-md-12">
		<div id ="content">
			<select class="form-control text-center" name="type" id="server_select">	
				<option th:each="server : ${servers}" th:value="${server.url}" th:text="${server.type}"></option>
			</select>
			<table class="beans table is-fullwidth is-hoverable table-responsive" id="redisTable" 
				data-click-to-select="true"
				data-minimum-count-columns="2">
  			</table>
		</div>
	</div>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">新增</h4>
				</div>
				<div class="panel-body modal-body"
					style="height: 800px; overflow: scroll">
					<div style="border: 1px #000000; width: 90%; margin: 0 auto;"
						contenteditable="true">
						<pre id="redis_data_div"></pre>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						<span aria-hidden="true">닫기</span>
					</button>
					<button type="button" id="btn_submit" class="btn btn-primary"
						data-dismiss="modal">
						<span aria-hidden="true"></span>저장
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script th:inline="javascript">
	var TatableJsons = [
		{
			"IF": "INFNXPG001",
			"redis_key" : "menu_gnb",
			"subtitle": "menu_gnb",
			"redis_fields": {
				"menu_stb_svc_id": "BTVWEBV512"
			}
		},
		{
			"IF": "INFNXPG002",
			"subtitle": "전체 메뉴 정보",
			"redis_key" : "menu_all",
			"redis_fields": {
				"menu_stb_svc_id": "BTVWEBV512"
			}
		},
		{
			"IF": "INFNXPG003",
			"subtitle": "big_banner",
			"redis_key" : "big_banner",
			"redis_fields": {
				"menu_stb_svc_id": "BTVWEBV512",
				"menu_id": "NM1000000400"
			}
		},
		{
			"IF": "INFNXPG004",
			"subtitle": "block_block",
			"redis_key" : "block_block",
			"redis_fields": {
				"menu_stb_svc_id": "BTVWEBV512",
				"menu_id": "NM1000000400"
			}
		},
		{
			"IF": "INFNXPG005",
			"subtitle": "grid_banner",
			"redis_key" : "grid_banner",
			"redis_fields": {
				"menu_stb_svc_id": "BTVWEBV513",
				"menu_id": "NM1000023792"
			}
		},
		{
			"IF": "INFNXPG006",
			"subtitle": "grid_contents",
			"redis_key" : "grid_contents",
			"redis_fields": {
				"menu_id": "NM1000019814"
			}
		},
		{
			"IF": "INFNXPG007",
			"subtitle": "synopsis_contents",
			"redis_key" : "synopsis_contents",
			"redis_fields": {
				"sris_id": "CS11000408"
			}
		},
		{
			"IF": "INFNXPG008",
			"subtitle": "synopsis_srisInfo",
			"redis_key" : "synopsis_srisInfo",
			"redis_fields": {
				"epsd_id": "CE1000006506"
			}
		},
		{
			"IF": "INFNXPG009",
			"subtitle": "synopsis_gateway",
			"redis_key" : "synopsis_gateway",
			"redis_fields": {
				"sris_id": "CS02152774"
			}
		},
		{
			"IF": "INFNXPG010",
			"subtitle": "synopsis_commerce",
			"redis_key" : "synopsis_commerce",
			"redis_fields": {
				"sris_id": "CS11005062"
			}
		},
		{
			"IF": "INFNXPG011",
			"subtitle": "contents_people",
			"redis_key" : "contents_people",
			"redis_fields": {
				"epsd_id": "CE1000006506"
			}
		},
		{
			"IF": "INFNXPG012",
			"subtitle": "contents_preview",
			"redis_key" : "contents_preview",
			"redis_fields": {
				"sris_id": "CS02070710"
			}
		},
		{
			"IF": "INFNXPG013",
			"subtitle": "contents_corner",
			"redis_key" : "contents_corner",
			"redis_fields": {
				"epsd_id": "CE0000868975"
			}
		},
		{
			"IF": "INFNXPG014",
			"subtitle": "contents_review",
			"redis_key" : "contents_review",
			"redis_fields": {
				"sris_id": "CS02070710"
			}
		},
		{
			"IF": "INFNXPG015",
			"subtitle": "contents_purchares",
			"redis_key" : "contents_purchares",
			"redis_fields": {
				"sris_id": "CS02067879"
			}
		},
		{
			"IF": "INFNXPG016",
			"subtitle": "contents_cidinfo",
			"redis_key" : "contents_cidinfo",
			"redis_fields": {
				"epsd_rslu_id": "{56D49A6D-5EAB-46D9-A692-3BA7CB0F1848}"
			}
		},
		{
			"IF": "INFNXPG017",
			"subtitle": "people_info",
			"redis_key" : "people_info",
			"redis_fields": {
				"prs_id": "MP0000158888"
			}
		},
		{
			"IF": "INFNXPG018",
			"subtitle": "corner_gather",
			"redis_key" : "corner_gather",
			"redis_fields": {
				"cnr_grp_id": "CN1000007439"
			}
		},
		{
			"IF": "INFNXPG019",
			"subtitle": "menu_kidsGnb",
			"redis_key" : "menu_kidsGnb",
			"redis_fields": {
				"menu_stb_svc_id": "BTVWEBV512"
			}
		},
		{
			"IF": "INFNXPG020",
			"subtitle": "menu_kidsCharacter",
			"redis_key" : "menu_kidsCharacter",
			"redis_fields": {
				"menu_stb_svc_id": "BTVWEBV512"
			}
		},
		{
			"IF": "INFNXPG021",
			"subtitle": "synopsis_liveChildStory",
			"redis_key" : "synopsis_liveChildStory",
			"redis_fields": {
				"epsd_id": "CE1000027948"
			}
		},
		{
			"IF": "INFNXPG022",
			"subtitle": "epg_info",
			"redis_key" : "epg_info",
			"redis_fields": {
				"epg": "epg"
			}
		},
		{
			"IF": "INFNXPG023",
			"subtitle": "contents_phrase",
			"redis_key" : "contents_phrase",
			"redis_fields": {
				"stb_exps_phrs_id": "AP1000000004"
			}
		},
		{
			"IF": "INFNXPG024",
			"subtitle": "block_month",
			"redis_key" : "block_month",
			"redis_fields": {
				"menu_stb_svc_id": "BTVWEBV512"
			}
		},
		{
			"IF": "INFNXPG025",
			"subtitle": "synopsis_sris",
			"redis_key" : "synopsis_sris",
			"redis_fields": {
				"sris_id": "CS02065597"
			}
		},
		{
			"IF": "INFNXPG026",
			"subtitle": "genre_info",
			"redis_key" : "genre_info",
			"redis_fields": {
				"genre": "genre"
			}
		},
		{
			"IF": "INFNXPG029",
			"subtitle": "ending_cwcallidval",
			"redis_key" : "ending_cwcallidval",
			"redis_fields": {
				"ending_cwcallidval": "ending_cwcallidval"
			}
		},
		{
			"IF": "INFNXPG030",
			"subtitle": "inside_info",
			"redis_key" : "inside_info",
			"redis_fields": {
				"epsd_id": "CE1000031801"
			}
		},
		{
			"IF": "INFNXPG031",
			"subtitle": "synopsis_contentsfiledetails",
			"redis_key" : "synopsis_contentsfiledetails",
			"redis_fields": {
				"epsd_id": "CE1000031801"
			}
		},
		{
			"IF": "INFNXPG032",
			"subtitle": "synopsis_ppmCommerce",
			"redis_key" : "synopsis_ppmCommerce",
			"redis_fields": {
				"prd_prc_id": "410731392"
			}
		},
		{
			"IF": "INFNXPG033",
			"subtitle": "menu_lightHomeGnb",
			"redis_key" : "menu_lightHomeGnb",
			"redis_fields": {
				"menu_stb_svc_id": "BTVWEBV512"
			}
		}
	];

	var Editor = {
		redisKeyFieldUri : "",
		show: function(text) {
			var result = JSON.stringify(JSON.parse(text), null, 2);// String를 JSON로 변경
			$("#myModalLabel").text("Editor");
			$("#redis_data_div").html(result);
			$('#myModal').modal();
		},
		setRedisKeyFieldUri: function(redisKeyFieldUri) {
			Editor.redisKeyFieldUri = redisKeyFieldUri;
		},
		getRedisKeyFieldUri: function() {
			return Editor.redisKeyFieldUri;
		},
		save: function() {
			var redisKeyAndField = "";
			var apiRoot = $("#server_select").children('option:selected').val();
			
			var jsonstr = $("#redis_data_div").html();
			var url = apiRoot + "/ge/task/hset/" + Editor.redisKeyFieldUri;
			
			$.ajax({
	            url : "/redis/save",
	            type : "POST",
	            async : true,
	            contentType : "application/json",
	            data : JSON.stringify({"data": jsonstr, "url": url}),
	            success : function(data) {
	                if (data == "ok") {
	                	alert("OK");
	                } else {
	                    alert("fail");
	                }
	            }
	        });
		}
	}
		

	function build_url(btn, row) {
		var apiRoot = $("#server_select").children('option:selected').val();
		var url = apiRoot + "/task/hget/" + keyAndFieldUri(btn, row);
		return url;
	}
	
	function keyAndFieldUri(btn, row) {
		var redisKeyAndFields = row.redis_key + "/";
		var fields = $("#" + row.IF).find(".ifvalue");

		$(fields).each(function(i,n) {
			redisKeyAndFields += $(n).val() + "_";
		});
		return redisKeyAndFields.trim('_', 'right');
	}
	
	$(document).ready(function() {
		/*<![CDATA[*/
		var toSkip = ['IF','subtitle', 'uri']; //url를 build할 때 skip
		
		$("#btn_submit").click(function() {
			Editor.save();
		});
		
		$("#redisTable").bootstrapTable("destroy").bootstrapTable({
			data: TatableJsons,
			cache:true,
			showHeader: false,
			columns:[
				{
		            align: 'left',
		            valign: 'left',
					formatter: function operateFormatter(value, json, index) {
						var IF = json.IF;
						var subtitle = json.subtitle;
						
						var elArray = [];
						elArray.push('<li class="list-group-item" id="' + IF + '">');
						elArray.push('<span class="title h4 divcss5">' + IF + '<small>( ' + subtitle + ' )</small></span>');
						
						var redisFields = json.redis_fields;
						for(key in redisFields) {
							elArray.push("<div><b><span class='ifkey'>" + key);
							elArray.push("</span><input class='ifvalue' type='text' value='" + redisFields[key] + "' /></b>");
						}
						elArray.push('<button class="fetch btn btn-default  ">조회</button>');
						elArray.push("</li>");
						return elArray.join('');
					},
					events: {
						'click .fetch': function (e, value, row, index) {
							var url = build_url(e, row);
							Editor.setRedisKeyFieldUri(keyAndFieldUri(e,row));
							alert(url);
							$.ajax({
								type : "get",//필수 
								url : "/redis/info",
								async : false,
								dataType : "json",//필수 
								data : {url : url},
								success : function(data) {
									var text = JSON.stringify(data);
									Editor.show(text);
								},
								error : function(e) {
									alert("데이터 없거나, 요청 실패");
								}
						 });
					}
				}
			}]
		});
		/*]]>*/
	});
	
	String.prototype.trim = function (char, type) {
	    if (char) {
	        if (type == 'left') {
	            return this.replace(new RegExp('^\\'+char+'+', 'g'), '');
	        } else if (type == 'right') {
	            return this.replace(new RegExp('\\'+char+'+$', 'g'), '');
	        }
	        return this.replace(new RegExp('^\\'+char+'+|\\'+char+'+$', 'g'), '');
	    }
	    return this.replace(/^\s+|\s+$/g, '');
	};
	
</script>